.discos{

border: 3px solid pink;
margin-left : 80px;
background-color: rgba(0, 0, 0, 0.566);
}
a{
    margin-left: 80px ;
}

.foto{
    margin: 80px;
    width: auto; /* Ancho específico */
    height: 300px;

}